[2022-10-22 08:23] StefH opened #1 "NHamcrest"
Hi Bas, just a remark...

Instead of using NHamcrest to do the matching, you could also use the WireMock.Net matchers:
https://github.com/WireMock-Net/WireMock.Net/tree/master/src/WireMock.Net/Matchers

[2022-10-22 09:29] basdijkstra commented on #1
Thank you for the suggestion, Stef. At first glance it shouldn’t be too hard to do, so I’ll add it to the list.

[2022-10-22 09:47] StefH commented on #1
The only thing which differs is that WireMock.Net does not have any static `new` helper methods yet.

So in Hamcrest you can do:
[code]

For now the equivalent using WireMock is:
[code]

A possible fluent interface for WireMock could be:
[code]

[2022-10-22 09:50] StefH opened #2 "Maybe replace Stubble by Handlebars.Net"
Just an idea : replace Stubble by Handlebars.Net ?

(disclaimer : I'm using Handlebars.Net & Scriban and I don't know Stubble at all...)

[2022-10-22 09:52] StefH opened #3 "WireMock.Net.FluentAssertions?"
Hi Bas,

The idea from this library looks a bit like this one:
https://github.com/WireMock-Net/WireMock.Net/wiki/FluentAssertions

(However the functionality from WireMock.Net.FluentAssertions is not yet 100% the same are your project...)

[2022-10-22 10:06] basdijkstra commented on #3
You think so?

I’d say your FluentAssertions library is meant to check that certain calls were made to a WireMock instance when tests are run (a feature any good mocking library should provide), while this one is an attempt to make API calls and verify responses easier.

Your library acts on the provider side, mine helps at the consumer end of an API.

Or am I missing something here?

[2022-10-22 10:14] StefH commented on #3
Let me think on that... ;-)

[2022-10-22 10:24] basdijkstra commented on #2
I’ll have a look, but so far Stubble has been really easy to use. Thank you for the suggestion, though.

[2022-10-26 15:05] Constante-ou-Mort opened #4 "Missing method for adding cookies"
The original rest assured allows us to add a cookie after calling a given method.I think it is necessary to have the same here 🙂

[2022-10-26 15:11] basdijkstra commented on #4
@Constante-ou-Mort absolutely. Thank you for the suggestion.

[2022-10-28 11:07] basdijkstra commented on #4
Hey @Constante-ou-Mort, how does this look?

https://github.com/basdijkstra/rest-assured-net/wiki/Usage-Guide#cookies

https://github.com/basdijkstra/rest-assured-net/blob/db27f1f7fd96cc0b21f39ffc768260638f809bbb/RestAssured.Net.Tests/CookieTests.cs#L37

If that's what you're looking for, I'll include it in the next release. That'll probably be a beta, looking to add 1-2 more things in there. Hope

[2022-10-28 11:32] basdijkstra commented on #2
@StefH I've looked into this and it seems like both libraries essentially do the same thing. Since Stubble is a reasonably active project, and I'm really only using its string rendering capability for replacing path parameter templates, I think it's safe to leave it like it is.

I appreciate the suggestion, though, gives me an alternative to check out in case Stubble doesn't live up to the expecta

[2022-10-28 13:20] StefH commented on #2
Ok

[2022-10-28 13:23] basdijkstra commented on #2
Closed with thanks for the suggestion.

[2022-10-28 13:23] #2 closed

[2022-10-29 07:31] basdijkstra opened #5 "Properly implement XML response body element verification"
Unlike Json.NET, System.Xml doesn't really have the option to cast a node value to an object for verification against an NHamcrest matcher.

Options:
* Writing my own extension method to convert the value of an object of type `XmlNode` to an object of the type used in the matcher
* See if there's another XML library that's better suited to do this
* Writing separate verification methods that handl

[2022-10-29 07:33] basdijkstra commented on #3
Closing this for now, feel free to reopen it when you have anything to add, @StefH.

[2022-10-29 07:33] #3 closed

[2022-10-29 12:12] basdijkstra commented on #4
The ability to add a cookie to a request, as described above, has been released with version [0.4.0](https://www.nuget.org/packages/RestAssured.Net/0.4.0).

Without any further feedback, I'm closing this issue a week from today.

[2022-10-29 16:08] Constante-ou-Mort commented on #4
Hi, I think it's a good one, but my assumption that people will need another overloads like Cookie(System.Net.Cookie cookie){} and Cookie(System.Net.CookieCollection cookieCollection or IEnumerable<Cookie> cookies){}

[2022-10-29 17:40] basdijkstra commented on #4
That makes sense :) Let me add those in a next version as well. Shouldn’t be too difficult. Thanks!

[2022-10-30 07:39] basdijkstra commented on #4
Well, that was a little more work than I expected but it looks like it works, now. See [the tests for cookies] for examples. Is this what you were looking for? To be released in 0.4.1 in a moment.

[2022-10-30 20:36] Constante-ou-Mort commented on #4
Yes it is) thank you very much, GJ)

[2022-10-31 05:50] basdijkstra commented on #4
Awesome, thank you once again for the feedback and for bringing this up in the first place.

Closing this, if you ever feel there’s something else missing feel free to reopen or create a new one!

[2022-10-31 05:50] #4 closed

[2022-11-03 13:03] basdijkstra commented on #5
https://github.com/basdijkstra/rest-assured-net/commit/0c46188ebc8fa10d541a66ec2c65060d8232c653 adds support for collections, which completes work on this issue, so closing it.

[2022-11-03 13:03] #5 closed

[2022-11-05 02:48] bheemreddy181 opened #6 "Add support for passing x-www-form-urlencoded data to api requests"
Supporting ( x-www-form-urlencoded ) will help in generating tokens for authorization an example below

[code]

[2022-11-05 19:04] basdijkstra commented on #6
Hey @bheemreddy181, could you please have a look at the code and test in this branch?

This is the test:

[code]

Here's what the resulting request looks like:
![image](https://user-images.githubusercontent.com/10740451/200136690-bbbd423c-5e27-440b-b89e-cdae01e80c09.png)

Does that look useful to you?

[2022-11-05 19:09] bheemreddy181 commented on #6
Will test and let you know. Thanks for adding the changes.

On Sat, Nov 5, 2022 at 2:04 PM Bas Dijkstra ***@***.***>
wrote:

--
Regards
Bheem

[2022-11-05 19:11] basdijkstra commented on #6
Perfect, thanks. I've not released it yet so you'll have to package it yourself (or clone / fork).

[2022-11-06 07:59] basdijkstra opened #8 "Add support for validating response against JSON schema"
Adding a utility method to validate a JSON response against a JSON schema should be fairly straightforward, since we're using JSON.net already internally.

See https://www.newtonsoft.com/json/help/html/JsonSchema.htm

Probably a good idea to create overloads both for passing in a JSON schema as a string and as a `JsonSchema` object.

[2022-11-07 02:41] bheemreddy181 commented on #6
Went with cloning and deploying locally and was able to test. This is good to go.

<img width="1716" alt="Screen Shot 2022-11-06 at 8 33 45 PM" src="https://user-images.githubusercontent.com/101338506/200215162-a0d4f137-3ba5-44a1-81c1-c87bf25c6a75.png">

Quick question on the implementation side.

1.  Why a key-value pair array over a dictionary usage ?
2. (Generic Question) if we extract the resp

[2022-11-07 02:47] bheemreddy181 opened #9 "[Question] Any recommendations on Chained API requests"
Hey - do you any recommendations on chained API request like

If API-B is dependent on API-A (test data created here is input for API-B).

Do we do like below.

1. Given setup for request A and do all validations on that request and extract the response.
2. Use the Above response to create a JSON for API-B.

    Well, we do this in real world, but curious on how the test should be written here. Th

[2022-11-07 07:09] basdijkstra commented on #6
Thank you for testing and for your feedback, @bheemreddy181. I'll merge this into main right away.

Regarding your questions:

1. Because the [FormUrlEncodedContent] class that takes care of the encoding only takes `IEnumerable<KeyValuePair<string, string>>` as an argument, not a dictionary.

2. Do you mean extracting the entire response using `Extract().Response()`? That returns an object of type

[2022-11-07 07:09] #6 closed

[2022-11-07 07:16] basdijkstra commented on #9
Yes, that's exactly why I added the `Extract()` methods, to be able to extract specific response header or body values (or even the entire response message) so they can be reused in later requests.

A common example is getting an authentication token:

[code]

[2022-11-07 09:22] basdijkstra commented on #8
First steps done, created a method that successfully validates a response against a JSON schema supplied as a string.

To do:
* Better exception handling (what happens when schema supplied is invalid, what happens when response content type isn't JSON)
* Adding more tests around this
* Adding another DSL method to supply schema as a JSchema object (reuse logic where possible)

[2022-11-07 10:40] bheemreddy181 commented on #9
That makes sense.

[2022-11-07 10:40] #9 closed

[2022-11-07 10:40] bheemreddy181 commented on #6
Ya sounds good to me thanks for the explanation.

[2022-11-08 00:45] bheemreddy181 opened #11 "Add capability to supply headers to RequestSpecification (including authorization headers)"
Hey,

Thanks again for this great package. Here are few things i would request to add to request Specification.

- HttpHeaders ( like Authorization and other basic headers doesn't need to be repeated )

[2022-11-08 04:38] basdijkstra commented on #11
Thank you @bheemreddy181, those all make sense. I’ll split this into separate issues (one for each property) later this morning, if that’s OK with you. I like my issues and changes small and many, makes it easier to separate discussion and release.

[2022-11-08 04:44] bheemreddy181 commented on #11
Sounds good to me

[2022-11-08 04:51] bheemreddy181 commented on #11
Do you think we will have an ability to specify headers at request spec level and append any additional headers which are provided at the actual test ?

[2022-11-08 05:50] basdijkstra commented on #11
Yes, absolutely.

[2022-11-08 07:52] basdijkstra commented on #8
Merged into main with #12 .

[2022-11-08 07:52] #8 closed

[2022-11-08 08:12] bheemreddy181 commented on #11
Sounds good thanks

[2022-11-08 08:19] basdijkstra opened #13 "Add capability to ignore HTTPS errors"
Should be set to `false` by default, but disabling these might be useful.

We should be able to set this for individual requests, but also as part of a `RequestSpecification`.

Requested / suggested by @bheemreddy181.

[2022-11-08 08:23] basdijkstra opened #14 "Add capability to specify proxy to use in requests"
The `HttpClient` we use under the hood has the capability to add a proxy. It could be useful to allow us to specify this as part of our test.

Should be supported both for individual requests as well as in a `RequestSpecification`.

Requested / suggested by @bheemreddy181.

[2022-11-08 09:02] basdijkstra opened #15 "Add capability to set custom timeout for requests"
The default value for the `HttpClient` timeout is 100,000 milliseconds (100 seconds).

It would be useful to be able to set this to a different value, both for an individual request as well as through a `RequestSpecification`.

Requested / suggested by @bheemreddy181.

[2022-11-08 09:05] basdijkstra opened #16 "Add capability to set User-Agent for requests"
We should be able to set the User-Agent for requests, both for individual requests as well as through a `RequestSpecification`.

Requested / suggested by @bheemreddy181.

[2022-11-08 11:05] basdijkstra commented on #15
Added support for custom timeouts to be set in individual tests. To be done: setting this as part of the `RequestSpecification`.

[2022-11-08 12:47] basdijkstra commented on #15
Completed in #17.

[2022-11-08 12:54] basdijkstra commented on #15
@bheemreddy181, feel free to have a look at this feature and give me some feedback :)

[2022-11-08 15:27] basdijkstra commented on #16
Merged into main in #18.

See https://github.com/basdijkstra/rest-assured-net/wiki/Usage-Guide#user-agent for documentation.

@bheemreddy181, another one you might want to have a look at.

[2022-11-08 15:48] bheemreddy181 commented on #16
Looks good to me, thanks for adding this

[2022-11-08 15:49] bheemreddy181 commented on #15
cool looks good to me. Thanks for adding this.

[2022-11-08 15:54] basdijkstra commented on #16
Thanks for the suggestion!

[2022-11-08 15:54] #16 closed

[2022-11-08 15:55] #15 closed

[2022-11-08 15:56] bheemreddy181 opened #19 "[Suggestion] Rename Hostname to BaseUrl"
I feel the hostname is a bit confusing for any new users for this, do you think we can rename this to BaseUrl ?

[2022-11-08 16:41] basdijkstra commented on #19
That's for the RequestSpecification, right? Let me think about that. I just copied the names from the properties you set on the `System.Uri` object. Also, a host name is slightly different from a base URL, a base URL is scheme + host name.

You set the scheme and the host name separately on a `System.Uri` object. I could add a utility method that sets both and call it `BaseUrl()` but I'm afraid th

[2022-11-08 16:44] bheemreddy181 commented on #19
Or just that could be just BaseHost, than Hostname ?

[2022-11-08 17:59] basdijkstra commented on #19
I’ve never heard that name being used, so I’d rather stick with HostName for now. I think that describes best what should be passed as an argument value. I’ll think about adding a BaseUrl method that aceepts {Scheme}://{HostName} as a value, but that’ll have to come with additional parsing and exception handling..

[2022-11-08 18:18] bheemreddy181 commented on #19
Sounds good to me as I kept thinking the existing name sound good to me

[2022-11-08 18:55] basdijkstra commented on #19
OK, let's keep it as is. I appreciate your ideas, though, so keep them coming.

[2022-11-08 18:55] #19 closed

[2022-11-09 09:59] basdijkstra commented on #14
Merged in #18. @bheemreddy181, how does this look?

[2022-11-09 10:02] bheemreddy181 commented on #14
You are referring to this one https://github.com/basdijkstra/rest-assured-net/pull/20 I assume ?

[2022-11-09 10:04] basdijkstra commented on #14
Yes, apologies for the confusion!

[2022-11-09 11:23] bheemreddy181 commented on #14
Looks good to me

[2022-11-09 11:25] basdijkstra commented on #14
Thanks, closing this one then.

[2022-11-09 11:25] #14 closed

[2022-11-09 12:17] basdijkstra opened #21 "Add support for .NET 7"
Now that .NET 7 has been officially released, RestAssured .Net should support that .NET version, too.

[2022-11-09 15:53] basdijkstra commented on #21
Added .NET 7 to the list of target frameworks, run everything on local machine with .NET 7, no issues whatsoever.

[2022-11-09 15:53] #21 closed

[2022-11-09 16:25] bheemreddy181 commented on #11
Really looking forward into this addition

[2022-11-09 16:27] basdijkstra commented on #11
So do I, just need to find some time to work on this properly. Hopefully later this week so I can release 1.1.0 with all the additions around the weekend.

[2022-11-10 10:30] bheemreddy181 opened #22 "Endpoint details set in RequestSpecification aren't properly applied to endpoint"
Currently, we support C# class objects for reading the Input API request , we might not need C# class objects all the time rather than creating a raw JSON for such cases can we support dictionary objects ?

[2022-11-10 12:17] basdijkstra commented on #22
Json.NET has got you covered on that already. I've added an example to make this more clear, and I will add that to the docs as well: https://github.com/basdijkstra/rest-assured-net/blob/fcde102dfad1731aa703fd5b346ff61312b3353d/RestAssured.Net.Tests/RequestBodySerializationTests.cs#L90

Does that answer your question? If so please close this issue, if not, please elaborate.

[2022-11-10 12:27] bheemreddy181 commented on #22
Interesting, I was getting the below error with a dictionary

[code]

[2022-11-10 12:29] basdijkstra commented on #22
Can you add the test that you used?

[2022-11-10 12:32] bheemreddy181 commented on #22
Let me debug this a bit more and provide a detailed info on this.

[2022-11-10 18:17] basdijkstra commented on #22
Thanks.

Do you have a GitHub link somewhere where I can find the test? If not I’ll rebuild it myself but I might end up not having the exact same situation.

Can you see in your debug session what the complete endpoint is that RestAssured is trying to invoke?

[2022-11-10 19:03] basdijkstra commented on #22
Hmm..

When I use the same setup like this with v1.0.0:

[code]

It works as expected. Again, can you please tell me what the endpoint is that RestAssured is trying to hit?

[2022-11-10 19:05] bheemreddy181 commented on #22
looks like i am using the formatUrlEnocoded branch not that master ( 1.0.0 ) - Can you try on that branch ?

[2022-11-10 19:07] basdijkstra commented on #22
No, because that doesn't exist anymore. Can we leave this open until the next release? That should not take me more than a couple of days now, and since I've done quite a bit of work on the `RequestSpecification`, things might have changed for the better for you :)

[2022-11-10 19:08] bheemreddy181 commented on #22
Sure that works

[2022-11-10 19:08] basdijkstra commented on #13
Just leaving this here for some suggestions on how to do this: https://stackoverflow.com/questions/52939211/the-ssl-connection-could-not-be-established

[2022-11-10 19:10] bheemreddy181 commented on #22
![Uploading Screen Shot 2022-11-10 at 1.09.50 PM.png…]()

[2022-11-10 19:11] bheemreddy181 commented on #22
<img width="1108" alt="Screen Shot 2022-11-10 at 1 09 50 PM" src="https://user-images.githubusercontent.com/101338506/201185207-6360faf1-9925-43e1-8ec2-607454af8224.png">

[2022-11-10 19:16] basdijkstra commented on #22
Yes, but the _actual_ endpoint is only constructed _inside_ the `Send()` method, that's where the `RequestSpecification` is applied.

See here: https://github.com/basdijkstra/rest-assured-net/blob/9d96a25d723e01f56dc9125f250849b9093f4ed9/RestAssured.Net/RA/ExecutableRequest.cs#L418

 Can you debug into that? Or use Fiddler or WireShark to see what the outgoing traffic is, that's the actual endpoin

[2022-11-10 19:20] bheemreddy181 commented on #22
this is what i see
<img width="854" alt="Screen Shot 2022-11-10 at 1 18 38 PM" src="https://user-images.githubusercontent.com/101338506/201186783-0ed4299b-0499-41ff-b458-3e65563115bd.png">

[2022-11-10 19:25] basdijkstra commented on #22
Thanks, that's what I was looking for. That's definitely not good.

Once again, let's park this until the next proper release. If it's still there, I'll try and fix that ASAP but I probably need you to publish this on GitHub (or send it to me via email: bas@ontestautomation.com) so I can reproduce it.

[2022-11-10 19:27] bheemreddy181 commented on #22
Sure i can create an example on Github

[2022-11-10 20:46] bheemreddy181 commented on #22
https://github.com/bheemreddy181/restAssuredNetTest example repo

[2022-11-11 07:42] basdijkstra commented on #22
Thanks. The error I'm getting when running your test with version 1.0.0 is slightly different:

`System.AggregateException : One or more errors occurred. (The SSL connection could not be established, see inner exception.)
  ----> RestAssuredNet.RA.Exceptions.HttpRequestProcessorException : The SSL connection could not be established, see inner exception.`

I've seen that with other HTTPS calls, to

[2022-11-11 07:59] basdijkstra commented on #11
@bheemreddy181 in the meantime, would you like to take a look at this one? See #23.

[2022-11-11 08:42] bheemreddy181 commented on #22
Sounds good thanks

[2022-11-11 10:41] basdijkstra opened #24 "Add utility methods for Content-Type header in RequestSpecification"
We should be able to set the `Content-Type` header through a RequestSpecification as well.

[2022-11-11 10:42] basdijkstra commented on #11
Added this in #23, so closing. Created separate issue for the support for the Content-Type header.

[2022-11-11 10:42] #11 closed

[2022-11-11 12:45] basdijkstra commented on #24
Added this just now, also updated documentation. See this test:

https://github.com/basdijkstra/rest-assured-net/blob/f12c689c745209ad477acb377ece76a416c2bd12/RestAssured.Net.Tests/RequestSpecificationTests.cs#L121

[2022-11-11 12:45] #24 closed

[2022-11-11 16:53] basdijkstra commented on #13
Implemented and pushed to `main`.

[2022-11-11 16:53] #13 closed

[2022-11-11 19:24] basdijkstra commented on #22
OK, I've found the problem (and another one in the logging, too). The problem is that the RequestSpecification port defaults to 80, which is not a useful value when you use https (it should be 443 in that case). When you change the port to 443, it works (or well, you get an HTTP 401 Unauthorized because your token value is invalid) as well as a NullReferenceException because there is no body to lo

[2022-11-11 19:26] bheemreddy181 commented on #22
Gotcha - Sounds good to me wasn't that defaulting to port 80 before too ?

[2022-11-11 19:28] basdijkstra commented on #22
Yes and it still does, because that's the default port for HTTP, but not for HTTPS. I might be better off not setting a default at all..

[2022-11-11 19:28] basdijkstra commented on #22
Anyway, closing this one, we can always continue the conversation in the other issue.

[2022-11-11 19:29] bheemreddy181 commented on #22
Agree there let people decide their own port

[2022-11-11 19:31] basdijkstra opened #25 "Port in RequestSpecification should not default to 80 when using HTTPS"
Right now, when we set the scheme to HTTPS in our RequestSpecification, the default port number remains 80, which creates unintended behaviour. This should be the behaviour:

* When scheme is not set, default to 80
* When scheme is set to https, default to 443
* When port is specified as other, use that value

[2022-11-11 19:33] basdijkstra opened #26 "Log().All() throws NullReferenceException when response body is empty"
When there's no response body, but we're trying to log it using `Log().All()` (or `Log().Body()`), a NullReferenceException is thrown.

That should be caught and nothing should be printed.

[2022-11-12 04:23] bheemreddy181 commented on #24
Thanks for adding this - when can I expect the new release to go out ?

[2022-11-12 04:28] bheemreddy181 opened #27 "Ability to Configure load test with the number of threads and amount of time in seconds to run the test with"
Do you think providing an ability to load test the api is a good use case for this ?

[2022-11-12 06:14] basdijkstra commented on #24
Depending on how quickly I can fix those two issues am that are still open, hopefully over the weekend.

[2022-11-12 06:16] basdijkstra commented on #27
I’ll keep it in mind but that’s an entirely different use case. It would probably take a major rework of the way I built the code.

I’d rather focus on getting the ‘functional’ stuff right first.

[2022-11-12 07:06] basdijkstra commented on #26
Fixed with https://github.com/basdijkstra/rest-assured-net/commit/a164fb24d94413e134e0d36791662e2fd9849ae7

[2022-11-12 07:06] #26 closed

[2022-11-12 07:33] basdijkstra commented on #25
Fixed with https://github.com/basdijkstra/rest-assured-net/commit/ceba3f5fcbf564be3e8b7d57a38d5ddea9405a29

[2022-11-12 07:33] #25 closed

[2022-11-12 07:35] basdijkstra commented on #22
Hye @bheemreddy181, just wanted to let you know that this issue has been resolved with https://github.com/basdijkstra/rest-assured-net/commit/ceba3f5fcbf564be3e8b7d57a38d5ddea9405a29. Turns out there is a port value (-1) that looks at the scheme, so that is used as the default now. It can of course still be overridden in a test and request specification.

Tested this using the upcoming 1.1.1 relea

[2022-11-12 07:45] basdijkstra commented on #24
@bheemreddy181 that went a little quicker than expected, version 1.1.1 is live with all the changes. Thanks again for all the support so far.

[2022-11-12 08:20] bheemreddy181 commented on #27
Sounds good to me thanks. Thanks for patiently listening to my ideas here :)

[2022-11-12 20:57] bheemreddy181 opened #28 "[Suggestion] Ability to retry on a specific type of error"
Hey,

Do you think we can give an ability to retry the API based on a specific error ? I think we can handle this outside of the package like in the CICD pipeline, but having an ability to retry will be good I feel. What do you think ?

[2022-11-12 23:01] bheemreddy181 opened #29 "SSL error for creating token using FormData"
Hey @basdijkstra ,

Newer version is throwing errors while creating a token using FormData

<img width="1223" alt="Screen Shot 2022-11-12 at 4 44 24 PM" src="https://user-images.githubusercontent.com/101338506/201497873-c95dbab8-4c58-463b-b0cd-ee3bb120b110.png">

[2022-11-13 06:44] basdijkstra commented on #28
Hey @bheemreddy, short answer: no. I think retrying tests is a very bad practice, and it's not something I want to stimulate by enabling it in RestAssured .Net. If people really want to retry their tests, that's their choice, and they can use something like this: https://docs.nunit.org/articles/nunit/writing-tests/attributes/retry.html, but it's bad behaviour that should not be encouraged.

Here's

[2022-11-13 06:44] #28 closed

[2022-11-13 06:47] basdijkstra commented on #29
Hey @bheemreddy181, can you please include a test with your bug reports that I can use to reproduce this behaviour? Without that it's impossible to see what happens here.

[2022-11-13 07:43] basdijkstra commented on #29
Also, what happens when you disable SSL checks using `RelaxedHttpsValidation()` ?

https://github.com/basdijkstra/rest-assured-net/wiki/Usage-Guide#disabling-ssl-checks

[2022-11-13 08:24] bheemreddy181 commented on #28
Sounds good to me I completely agree with you retrying is really a bad feature and I am not a big fan too.

My use case was post deployment an azure app service takes almost a min or two come back up so api tests fail in the initial couple runs but I guess I should handle this In a different way and make sure I am not retrying my tests.

[2022-11-13 08:26] bheemreddy181 commented on #29
Ok I will create a test and share it with you. It might take some more time to get back. Thanks

[2022-11-13 18:28] bheemreddy181 commented on #29
The OuAth2 token generation data is pretty private, I am not in a position to share the example at this point. But it works with  .RelaxedHttpsValidation() added.

[2022-11-13 18:37] bheemreddy181 commented on #22
I still see the port as -1 even on the new version, do we need to set the port to 443 on the request specification ? (which we shouldn't be) what am i missing here ?
<img width="515" alt="Screen Shot 2022-11-13 at 12 34 05 PM" src="https://user-images.githubusercontent.com/101338506/201538428-f429c644-1568-4c81-8d40-764f8de6d080.png">

<img width="1041" alt="Screen Shot 2022-11-13 at 12 33 07 PM"

[2022-11-13 19:07] basdijkstra commented on #22
The port will be set to the scheme default in the HttpClient, so it’s OK for it to be -1 in the RequestSpecification. When the HTTP call is made and the port is -1, HttpClient will replace it with the scheme default (80 for HTTP, 443 for HTTPS).

[2022-11-13 19:11] basdijkstra commented on #29
OK, that’s what I expected. Is that enough of an answer for you right now?

[2022-11-13 20:52] bheemreddy181 commented on #29
I am surprised from what changed from before to now are we always expected to set RelaxedHttpsValidation() all the time ?

[2022-11-13 20:54] bheemreddy181 commented on #22
Gotcha well I am still getting the old error though I need to debug more , the request URI is still not being set correctly

[2022-11-13 20:58] bheemreddy181 commented on #22
If you look at the request uri above in the second screenshot that is still set to ‘file:///lead’

[2022-11-13 20:59] bheemreddy181 commented on #22
is that ok to keep this request open until things get cleared on my side ?

[2022-11-13 21:22] bheemreddy181 commented on #22
Looks like you are framing the actual endpoint when the URI builder throws an exception, in my case I don't see an exception is being thrown here
<img width="1189" alt="Screen Shot 2022-11-13 at 3 20 52 PM" src="https://user-images.githubusercontent.com/101338506/201545206-a78bb64e-ad5c-468d-98f3-2808d53a40ed.png">

[2022-11-14 06:09] basdijkstra commented on #29
Well what changed is that with RelaxedHttpsValidation() you essentially told the HttpClient to allow untrusted certificates. I got the idea from here: https://stackoverflow.com/questions/12553277/allowing-untrusted-ssl-certificates-with-httpclient

The original REST Assured in Java does much the same thing by the way: https://github.com/rest-assured/rest-assured/wiki/Usage#ssl

I’m not saying you

[2022-11-14 06:12] bheemreddy181 commented on #29
Sure I can create one. This worked before without setting ssl setup.

[2022-11-14 06:12] #29 closed

[2022-11-14 06:13] bheemreddy181 commented on #27
I can close this for time being. This is not a high priority for me at this point but thought a good use case to have.

[2022-11-14 07:01] basdijkstra commented on #27
No I'm happy to leave this open, that's why I added the 'maybe-some-day' label.

[2022-11-14 07:08] basdijkstra commented on #22
Yeah, happy to keep this open. It's really weird, though, because the `UriFormatException` should be thrown here according to the Microsoft docs (which are typically very accurate):

![image](https://user-images.githubusercontent.com/10740451/201596321-8279a52a-e672-42fa-9910-aaad8ed0eb2c.png)

The last sentence is key here. What you're passing in is a relative Uri, and that should throw the `UriF

[2022-11-14 09:43] basdijkstra opened #30 "Change CI engine to GitHub Actions"
Moving CI to GitHub Actions might make it easier for others to contribute, as their PR builds can be executed on GitHub Actions automatically, without having to register for CircleCI.

Something to think about.

[2022-11-14 10:01] bheemreddy181 commented on #22
I think this is the issue https://github.com/dotnet/runtime/issues/27813

[2022-11-14 10:04] bheemreddy181 commented on #22
I think you might need to do something of this sort
`Uri uri = new Uri(url);
    try
    {
        string host = uri.Host;
    }
    catch (UriFormatException)
    {
        Console.WriteLine("Bad url: {0}", url);
    } `

[2022-11-14 10:04] basdijkstra commented on #22
That explains a lot of things... So, what .NET version are you using (the issue talks about .NET Core 2.1) and what operating system are you on? Just for my information :) I will need to find a way to fix / work around this.

[2022-11-14 10:06] bheemreddy181 commented on #22
I am on dotnet 6 and Operating system Mac OS.

[2022-11-14 10:08] basdijkstra commented on #22
Thanks! It was only time before I'd run into cross-OS compatibility issues, I guess.. I'll have a look and see how to best fix this. I'll take your solution into account.

[2022-11-14 10:09] bheemreddy181 commented on #22
Sounds good thanks.

[2022-11-14 10:11] basdijkstra opened #31 "Set disabling SSL validation in RequestSpecification"
We should be able to disable SSL checks as described here:

https://github.com/basdijkstra/rest-assured-net/wiki/Usage-Guide#disabling-ssl-checks

in a RequestSpecification too, so it can configured for and applied to different requests.

[2022-11-15 08:03] basdijkstra commented on #31
Fixed with https://github.com/basdijkstra/rest-assured-net/commit/15fb12831acb4600e62a8b78373f6c5dac7265fd

[2022-11-15 08:03] #31 closed

[2022-11-15 10:51] basdijkstra commented on #22
Hey @bheemreddy181, I think I've fixed this now. Could you please retest with RestAssured.Net version `1.2.0-alpha`, which is available as a prerelease through NuGet?

[2022-11-15 10:53] bheemreddy181 commented on #22
Sure will test sometime today.

[2022-11-15 17:49] bheemreddy181 commented on #22
Yes that worked. .RelaxedHttpsValidation() is what I am a bit confused on, why do I need to add that all the time for all requests. (Probably a different issue we can talk on)

[2022-11-15 17:49] #22 closed

[2022-11-15 21:22] bheemreddy181 commented on #22
I understand that token generation worked with RelaxedHttpsValidation before and all of a sudden this is a required in the implementation did something change around that ?

[2022-11-16 04:32] bheemreddy181 opened #32 "[Question] Can we capture time taken by individual requests ?"
It would be nice to capture the time taken by individual requests when we use the log function. Let me know your thoughts on this.

[2022-11-16 04:42] bheemreddy181 opened #33 "Add capability to log request details"
Can we log both requests and response for the log function ?

[2022-11-16 07:09] basdijkstra commented on #32
Would a simple Stopwatch (https://learn.microsoft.com/en-us/dotnet/api/system.diagnostics.stopwatch?view=net-7.0) before and after the HTTP call is made suffice? With the option to log it, and (as the original REST Assured also provides) an option to verify it?

[2022-11-16 07:30] basdijkstra commented on #33
Well, not yet, but that’s something that I could implement (logging requests). Consider it done! Thank you for the suggestion.

[2022-11-16 08:03] bheemreddy181 commented on #22
Thanks for the explanation.Ya will do.

[2022-11-16 08:13] basdijkstra commented on #32
Hmmm.. Looks like this will take a bit more work than expected as I have to create my own type for the response that extends the `HttpResponseMessage` and add a property that contains the response time. Yay for having a decent set of tests to ensure I don't accidentally break stuff..

[2022-11-16 11:26] basdijkstra commented on #32
See https://github.com/basdijkstra/rest-assured-net/commit/8c2dcaf93190a3e84b9bc8fa48fd77fe0338aaf6 for the implementation. This generates output like this:

`Response time: 8,2585 ms`

@bheemreddy181, looking for your feedback here.

[2022-11-16 14:04] basdijkstra commented on #33
Added in https://github.com/basdijkstra/rest-assured-net/commit/ab5ebf67b3501f99e063963cc4529970c7447843

@bheemreddy181, your feedback please? It works exactly the same as for response details, but there's an extra option to just print the endpoint.

[2022-11-16 16:26] bheemreddy181 commented on #33
do we need to add multiple log.all one for request and one for response ? @basdijkstra

[2022-11-16 16:27] basdijkstra commented on #33
Yes.

[2022-11-16 16:28] bheemreddy181 commented on #33
Sounds good to me.

[2022-11-16 16:28] #33 closed

[2022-11-18 12:26] basdijkstra opened #35 "Improve consistency in namespaces"
The namespaces used throughout the project are a bit of a mess, sometimes it's `RestAssuredNet`, sometimes it's `RestAssured.Net`. I'd like a consistent namespace structure instead.

Note to self: this might break (part of) the API as `using` directives will change accordingly, not only in the project itself but also in the projects using it. Probably something for a 2.0.0 release.

[2022-11-18 12:28] basdijkstra opened #36 "Consistency in enforcing SA1200 (using directives inside namespaces)"
#34 moved some `using` directives inside namespaces, and I'd like to apply that consistently throughout the code, also given the arguments here: https://stackoverflow.com/questions/125319/should-using-directives-be-inside-or-outside-the-namespace

Again, this might have some impact on namespaces and imports, similar to #35, thereby breaking the API. Consider this for a 2.0.0 release.

[2022-11-19 08:44] basdijkstra commented on #36
Added in https://github.com/basdijkstra/rest-assured-net/commit/d03d434282d8b46a80a80573affb378e74fd602c.

[2022-11-19 08:44] #36 closed

[2022-11-19 08:44] basdijkstra commented on #35
Fixed in https://github.com/basdijkstra/rest-assured-net/commit/d03d434282d8b46a80a80573affb378e74fd602c.

[2022-11-19 08:44] #35 closed

[2022-11-20 19:43] basdijkstra opened #38 "Add utility methods for easy testing of GraphQL APIs"
It would be nice to have some utility methods that would make writing tests for GraphQL-based queries a little easier.

With the original REST Assured, this is still somewhat contrived: https://applitools.com/blog/writing-tests-graphql-apis-rest-assured/

I'd like to make this simpler by offering a builder for GraphQL queries and variables, and being able to process them as part of RestAssured.Net

[2022-11-21 02:44] bheemreddy181 opened #39 "[Feature-Request] PACT Support for writing Contract Tests"
Similar to Java RestAssured , Can we have pact DSL support?

Example : https://hmh.engineering/how-to-write-and-validate-pact-contracts-using-junit5-and-restassured-72b578e7dd65

[2022-11-21 07:09] basdijkstra commented on #39
Hey @bheemreddy181, can you tell me what would need to be added to RestAssured.Net to make this possible? There's nothing in that article that isn't supported already.

This example from the Pact team: https://github.com/pactflow/example-bi-directional-provider-restassured/blob/master/src/test/java/com/example/springboot/ProductsAPITest.java shows some use of a validation filter in REST Assured, s

[2022-11-21 16:26] bheemreddy181 commented on #39
Agree with you, current implementation should support most of that. It would be great if you can layout an example in the documentation. Validation filter is for sure is something good to have, but that doesn't really block doing consumer driven contract tests.

[2022-11-21 16:26] #39 closed

[2022-11-22 08:28] basdijkstra commented on #38
Finished and to be released in 2.1.0.

[2022-11-22 08:28] #38 closed

[2022-11-24 19:31] mennopot opened #40 "Allow 'global' disabling of SSL validation"
We used your example from your blog: DeserializeIntoCSharpObject with nuget package Restassured.net 1.0.0
There this test succeded.
But now with version 2.0.0 it fails when using HTTPS in the get call.
With HTTP in the get call it works fine. So it looks like it does not support secure connections anymore?

We already tried to add the .Log().Body().
With a http get call, the actual body is logged.

[2022-11-24 19:39] basdijkstra commented on #40
Hey Menno, have you tried disabling the SSL checks as seen in this example?

https://github.com/basdijkstra/rest-assured-net/wiki/Usage-Guide#disabling-ssl-checks

It completely disables the SSL validation on the HTTP client used.

If that still doesn’t work, or if you were expecting some other kind of behaviour, could you please add an example I can use to reproduce the issue?

[2022-11-24 20:07] mennopot commented on #40
Hey Bas,

Thanks for the quick clarification.

This indeed works.

Though it feels strange that you need to add this to every test where you use an https request.

Is there an easier way and/or more global way?

Thanks.

Menno

Van: Bas Dijkstra ***@***.***>
Verzonden: donderdag 24 november 2022 20:40
Aan: basdijkstra/rest-assured-net ***@***.***>
CC: mennopot ***@***.***>; Author ***@***.***>
Ond

[2022-11-24 20:25] basdijkstra commented on #40
One way to configure it in a single place is by adding it to a RequestSpecification, but then you’d still need to add that RequestSpecification to each request.

Would setting it statically, just like the Java REST Assured allows, be a useful addition? In that way you’d only have to call the method once.

https://github.com/rest-assured/rest-assured/wiki/Usage#ssl

[2022-11-25 09:55] mennopot commented on #40
Thanks, that clarifies it.

[2022-11-25 09:58] basdijkstra commented on #40
Thanks @mennopot but I'd like to keep this one open as I think it might be a useful feature to have in the future.

[2022-11-26 11:05] basdijkstra opened #41 "Enable setting of Content-Type for GraphQL queries through builder"
Should default to application/json but still be configurable by users.

[2022-11-27 07:10] basdijkstra commented on #41
On second though, I won't fix this as it might be confusing to users, since there's also a `Content-Type()` convenience method that can be used to set the `Content-Type` header.

[2022-11-27 07:10] #41 closed

[2022-11-28 08:44] basdijkstra opened #42 "Add path and query parameter specification to docs"

[2022-11-29 10:55] basdijkstra commented on #42
Done.

[2022-11-29 10:55] #42 closed

[2022-11-29 16:52] basdijkstra commented on #40
Implemented in https://github.com/basdijkstra/rest-assured-net/commit/d1a8f2144bf0e381ba758112aec53eee99e63088.

[2022-11-29 16:52] #40 closed